.table .dropdown-menu {
     padding: 0 0;
}

.table .dropdown-item {
     padding: 0.4rem 0.8rem;
}

.dropdown-item.active,
.dropdown-item:active {
     background-color: #4634ff;
}

.products {
     position: absolute;
     left: 0;
     right: 0;
     top: calc(100% + 5px);
     background-color: #fff;
     box-shadow: 0 0 25px rgb(0 0 0 / 13%);
     border-radius: 3px;
     z-index: 999;
     max-height: 386px;
     overflow-y: scroll;
}

.products__item {
     padding: 10px 20px;
     cursor: pointer;
     transition: all .3s ease;
     border-bottom: 1px solid #f3f3f9;
}

.products__item:last-child {
     border-bottom: none;
}

.products__item:hover {
     background: #f3f3f9;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
     opacity: .4;
}

.table td img {
     height: 60px;
     width: 60px;
     object-fit: cover;
}


.table td {
     white-space: initial;
     word-break: initial;
}

.table td:last-child {
     white-space: nowrap;
}

.button--group {
     display: flex;
     flex-wrap: wrap;
     justify-content: end;
     gap: 2px;
     flex-grow: 1;
}